<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scg.persistence.MomMapper">

       <select id="getMomMessage" resultType="com.scg.model.Common.MomMessage" parameterType="String">
              select *
              from mom_message
              where 1=1
              and name = #{param1}
       </select>

</mapper>